{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "prettier",
    "@typescript-eslint",
    "react-hooks"
  ],
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/accessible-emoji": 0,
    "react/style-prop-object": 0,
    "jsx-a11y/label-has-for": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "no-console": 0,
    "no-return-assign": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "paths": ["src"]
      },
      "typescript": {
        "paths": ["src"]
      }
    }
  },
  "parser": "@typescript-eslint/parser"
}
